@import url("https://cdn.syncfusion.com/ej2/material.css");
.main-parent {
  background: url("../bgnd.jpg");
  height: 850px;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-child {
  /* background-color: rgba(34, 2, 2, 0.5); */
}
.setFont {
  font-family: Georgia, serif;
  font-size: 40px;
  letter-spacing: -1.6px;
  word-spacing: 2px;
  color: #c0ff4f;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
}
.roomset {
  width: 350px;
  height: 190px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 1rem;
  border: 2px solid black;
  margin-left: 4em;
}
